html,
body,
#app{
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.el-breadcrumb{
  margin-bottom: 15px;
  font-size: 16px;
}

.el-pagination{
  margin-top: 20px;
}
.el-step__title {
  font-size: 13px;
}
.ql-editor.ql-blank{
  height: 400px;
}